<div class="product-item" *ngIf="product">
  <!-- IMAGE -->
  <div class="image">
    <img [src]="product.image" />
  </div>
  <!-- /IMAGE -->

  <!-- CONTENT -->
  <div class="content">
    <h3>{{ product.title }}</h3>

    <!-- CTA -->
    <div class="cta">
      <button
        class="btn btn-detail"
        [routerLink]="'/produtos/detalhes/' + product.id"
      >
        VER DETALHES
      </button>
      <button
        class="btn btn-edit"
        [routerLink]="'/produtos/detalhes/' + product.id + '/edit'"
      >
        EDITAR
      </button>

      <button
        class="btn btn-select"
        [ngClass]="{selected: isSelected}"
        (click)="toggleSelect(product)"
      >
        <ng-container *ngIf="isSelected">
          REMOVER
        </ng-container>
        
        <ng-container *ngIf="!isSelected">
          SELECIONAR
        </ng-container>
      </button>
    </div>
    <!-- /CTA -->
  </div>
  <!-- /CONTENT -->
</div>
