.title {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.description {

}

.grid-products {
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
}

.loading {
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
}