<h1>Editar produto</h1>

<div *ngIf="product$|async; else loading">
  <form [formGroup]="editForm" id="edit-form">
    <!-- TITLE -->
    <div class="form-item">
      <input type="text" formControlName="title" placeholder="Título" />
    </div>

    <!-- IMAGE -->
    <div class="form-item field-upload">
      <input type="file" formControlName="image" placeholder="Imagem" />
    </div>

    <!-- BODY -->
    <div class="form-item">
      <textarea rows="12" formControlName="body"></textarea>
    </div>
  
    <!-- SUBMIT -->
    <div class="form-item">
      <button type="submit">
        Enviar
      </button>
    </div>

    <div class="form-item">
      <button type="submit" class="btn-cancel" routerLink="/produtos">
        Cancelar
      </button>
    </div>
  </form>
</div>

<ng-template #loading>
  Carregando...
</ng-template>
